.banner{
    padding:400px 0 350px;
    background-color:#b0b0b0;
    background-image:url("../../assets/images/banner-bg.jpg");
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    position:relative
}
.header-area{
    padding-top: 40px;
    padding-bottom: 40px;
}

  