<!-- <form enctype="multipart/form-data">
    <label>Filename</label>
    <input type="text" name="fileName">
    <br><br>
    <label>Upload File</label>
    <input type="file" name="file">
    <br><br>
    <input type="submit" value="submit">
</form> -->
<p>medical-report works!</p>
<h1>File Upload</h1>
<div style="text-align:center">
    <form>
        <div>
            <input type="file" name="report" multiple (change)="selectImage($event)">
        </div>
        <br>
        <div>
            <button type="submit" (click)="onSubmit()">Upload</button>
        </div>
    </form>
</div>