<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Colorlib Templates">
    <meta name="author" content="Colorlib">
    <meta name="keywords" content="Colorlib Templates">

    <!-- Title Page-->
    <title>Au Register Forms by Colorlib</title>

    <!-- Icons font CSS-->
    <link href="../../assets/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="../../assets/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">

    <!-- Vendor CSS-->
    <link href="../../assets/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="../../assets/vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="../../assets/css/main.css" rel="stylesheet" media="all">
</head>

<body>
    
        <div style="text-align: center; padding-top: 20px;" class="row">
            <div style="text-align: center;" class="col-6">
                <div>
                    <h3>Name : {{name}}</h3>
                    <h3>Aadhar Number : {{aadhar}} </h3>
                    <h3>Contact Number : {{contact_no}}</h3>
                </div>
            </div>
            <div style="text-align: center;" class="col-6">
                <p *ngFor="let record of records"><a href="{{record}}">{{record}}</a></p>
            </div>
        </div>
    


    <script src="../../assets/vendor/jquery/jquery.min.js"></script>

    <script src="../../assets/vendor/select2/select2.min.js"></script>
    <script src="../../assets/vendor/datepicker/moment.min.js"></script>
    <script src="../../assets/vendor/datepicker/daterangepicker.js"></script>
    

</body>

</html>