<h1 style="text-align: center;">Dashboard</h1>
<div style="text-align: center;" class="">
    <button style="width: 50%;" (click)="toggle = false" class="btn btn-primary btn-lg">View Patient EHR</button>        
</div>
<div style="text-align: center;" class="">    
    <app-register-patient (toggleEventForRegister)="toggleEventForRegister()" *ngIf="toggle==true && togglePatientDetails==false"></app-register-patient>
    <app-get-patient *ngIf="toggle!=true && togglePatientDetails==false" (msgEvent)="togglePatient($event)"></app-get-patient>
    <app-patient-details *ngIf="togglePatientDetails==true"  
    [name]="record.name"
    [aadhar]="record.aadhar"
    [contact_no]="record.contact_no"
    [records]="record.records"></app-patient-details>
    <!-- <div class="col-6">
        <button class="btn btn-success btn-lg">Register Patient</button>
    </div>
    <div class="col-6">
        <button class="btn btn-primary btn-lg">Get Patient Record</button>
    </div> -->
</div>