<!-- <html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
  <title>Document</title>
</head>
<body>
  
    <form class="form-class page-wrapper font-robo">
      <h2>Sign Up!</h2>  
      <div class="container example-container jumbotron jumbotron-fluid">
    
          <mat-form-field floatLabel ='auto'>
            <mat-label>Name of the institute</mat-label>
            <input matInput class="input--style-1">
          </mat-form-field>
      
          <mat-form-field>
            <mat-label>Address</mat-label>
            <textarea matInput class="input--style-1"></textarea>
          </mat-form-field>
          <br>
          <mat-form-field>
            <mat-label>Contact no.</mat-label>
            <input type="number" matInput class="input--style-1">
          </mat-form-field>
          <p></p>
          <mat-form-field>
            <mat-label>Email-id</mat-label>
            <input type="email" matInput class="input--style-1">
          </mat-form-field>
          <p></p>
          <mat-form-field>
            <mat-label>Departments</mat-label>
            <mat-select [(value)] ="val" multiple>
             <mat-option *ngFor="let dept of dep" class="rs-select2 js-select-simple select--no-search">{{ dept }}</mat-option>
            </mat-select>
          </mat-form-field>
          {{ val }}
          <p></p>
          <p></p>
          <div class="p-t-20">
            <button mat-raised-button color="accent" class="btn btn--radius btn--green">Submit</button>
          </div>
        </div>
      
      
      </form>


</body>
</html>  -->
  



<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Colorlib Templates">
    <meta name="author" content="Colorlib">
    <meta name="keywords" content="Colorlib Templates">

    <!-- Title Page-->
    <title>Au Register Forms by Colorlib</title>

    <!-- Icons font CSS-->
    <link href="../../assets/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="../../assets/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">

    <!-- Vendor CSS-->
    <link href="../../assets/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="../../assets/vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="../../assets/css/main.css" rel="stylesheet" media="all">
</head>

<body>  
    <div class="page-wrapper  p-t-100 p-b-100 font-robo">
        <div class="wrapper wrapper--w680">
            <div class="card card-1">                
                <div class="card-body">
                    <h2 class="title">Register Your Patient</h2>
                    <form class="form-content">
                        <div class="input-group">
                          <mat-form-field color="primary" floatLabel ='auto' class="input-name">
                            <mat-label>Name Of Patient</mat-label>
                            <input [(ngModel)]="name" name="name" matInput class="input--style-1" color = "black" >
                          </mat-form-field>
                        </div>
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">                                  
                                  <mat-form-field >
                                    <mat-label>Contact Number</mat-label>
                                    <input [(ngModel)]="contact_no" name="contact" type="number" matInput class="input--style-1">
                                  </mat-form-field>
                                    <p></p>
                                    <mat-form-field >
                                      <mat-label>Aadhar Number</mat-label>
                                      <input [(ngModel)]="aadhar" name="aadhar" type="number" matInput class="input--style-1">
                                    </mat-form-field>
                                    <mat-form-field >
                                      <mat-label>Age</mat-label>
                                      <input [(ngModel)]="age" name="age" type="number" matInput class="input--style-1">
                                    </mat-form-field>
                                    <mat-form-field >
                                      <mat-label>Gender</mat-label>
                                      <input [(ngModel)]="gender" name="gender" type="text" matInput class="input--style-1">
                                    </mat-form-field>
                                </div>
                            </div>                            
                        </div>                        
                        <div class="p-t-20">
                            <button (click)="Register()" class="btn btn--radius btn--green" type="submit">Register</button>
                        </div>
                    </form>
                </div>                  
            </div>
        </div>        
    </div>    

    <script src="../../assets/vendor/jquery/jquery.min.js"></script>

    <script src="../../assets/vendor/select2/select2.min.js"></script>
    <script src="../../assets/vendor/datepicker/moment.min.js"></script>
    <script src="../../assets/vendor/datepicker/daterangepicker.js"></script>


    <!-- <script src="js/global.js"></script> -->

</body>

</html>


