.navbar {
    justify-content: space-between;
}

h2 {
  text-align: center;
}

span{
    padding-right: 1rem;
}
.example-container > * {
    padding-left: 50px;
    width: 100%;
  }

.form-class{
    margin-top: 50px;
    width: auto;
    margin-left: 200px;
    margin-right: 200px;
    color: black;
}

mat-label{
  color: black;
}
.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}
.form-content{
  padding-right: 100px;
}

.input-name{
  padding-top: 10px;
}


/* ==========================================================================
   Below is the optional theme
   ========================================================================== */


