.navbar {
    justify-content: space-between;
}

span{
    padding-right: 1rem;
}
.example-container > * {    
    width: 75%;    
  }

.form-class{
    margin-top: 50px;
    width: auto;
    margin-left: 200px;
    margin-right: 100px;
    color: black;
}
mat-label{
  color: black;
}
.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}