<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Colorlib Templates">
    <meta name="author" content="Colorlib">
    <meta name="keywords" content="Colorlib Templates">

    <!-- Title Page-->
    <title>Au Register Forms by Colorlib</title>

    <!-- Icons font CSS-->
    <link href="../../assets/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="../../assets/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">

    <!-- Vendor CSS-->
    <link href="../../assets/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="../../assets/vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="../../assets/css/main.css" rel="stylesheet" media="all">
</head>

<body>
    <div class="page-wrapper  p-t-100 p-b-100 font-robo">
        <div class="wrapper wrapper--w680">
            <div class="card card-1">
                <div class="card-heading"></div>
                <div class="card-body">
                    <h2 class="title">Sign in!!</h2>
                    <form method="POST" class="form-content">
                        <div class="input-group">
                          <mat-form-field color="primary" floatLabel ='auto' class="input-name">
                            <mat-label>Email-id</mat-label>
                            <input [(ngModel)]="email" name="email" type ="email" matInput class="input--style-1" color = "black" >
                          </mat-form-field>
                        </div>
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                  <mat-form-field >
                                    <mat-label>Your Private Key</mat-label>
                                    <input [(ngModel)]="privatekey" name="privateKey" type="password" matInput class="input--style-1">          
                                  </mat-form-field>
                                  <p></p>      
                                </div>
                            </div>
                            
                        </div>
                        
                        <div class="p-t-20">
                            <button (click)="Login()" class="btn btn--radius btn--green" type="submit">Sign-in</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <script src="../../assets/vendor/jquery/jquery.min.js"></script>

    <script src="../../assets/vendor/select2/select2.min.js"></script>
    <script src="../../assets/vendor/datepicker/moment.min.js"></script>
    <script src="../../assets/vendor/datepicker/daterangepicker.js"></script>


    <!-- <script src="js/global.js"></script> -->

</body>

</html>